body {
  box-sizing: border-box;
  background-color: #979797;
  padding: 2.4rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  font-weight: 700;
}

.header {
  width: 80rem;
  margin: 0 auto;
}
.wrapper {
  margin: 1rem;
}

h1 {
  display: flex;
  justify-content: center;
}

.book-container {
  display: block;
  padding: 1rem;
  border: 3px solid #1a1a1a;
  width: auto;
  background-color: white;
}

.books-list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
}

.books-list button {
  width: 80px;
  height: 30px;
  border: 3px solid #1a1a1a;
}

.title {
  text-align: center;
  margin-top: 2.4rem;
  margin-bottom: 1.8rem;
  font-size: 2rem;
}

.delete {
  padding: 0.4rem;
  border: 2px solid #000;
  background: #fff;
  font-weight: 700;
  box-shadow: 0.4rem 0.2rem 0.2rem #000;
  z-index: 9;
  margin-left: auto;
  display: flex;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.form-group {
  width: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
  border-color: gray;
}

.texts {
  display: flex;
  gap: 10px;
  margin-bottom: 0;
  font-size: 15px;
  padding: 1rem;
  position: absolute;
}

.form-title {
  text-align: center;
  margin-bottom: 6.4rem;
  margin-top: 3.6rem;
  font-size: 1.8rem;
}

.btn-submit {
  align-self: flex-end;
  background: none;
  border: 2px solid #000;
  font-weight: 700;
  box-shadow: 0.4rem 0.2rem 0.2rem #000;
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
}

.divider {
  color: red;
  margin-top: 1.5rem;
  margin-left: 45%;
  margin-right: 45%;
}
